$ascii: (
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                                   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                                        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@                                             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@                      @@@@@@@@@@@@@@@           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@                   @@@@@@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@                 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@               @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@               @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@          @@@@@@@@@@@@@@@  @@@@@@@@@@@@@@@@@@@@@@            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@          @@@@@@@@@@@@@@@    @@@@@@@@@@@@@@@                @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@         @@@@@@@@@@@@@@@@                                @@@@@@@@@@@@@@@@@@@@@@  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@         @@@@@@@@@@@@@@@@@@                           @@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@         @@@@@@@@@@@@@@@@@@@@                     @@@@@@@@@@@@@    @@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@       @@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        @@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@        @@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@          @@@@@@@@@@@@@@@@@@@@@@@@           @@@@@@@@@        @@@@@          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@           @@@@@@@@@@@@@@@@@@@@@            @@@@@@@@         @@@@           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@           @@@@@@@@@@@@@@@@@                @@@@@          @@@     @@      @@@@             @@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@           @@@@@@@@@@@@         @@@        @@@@           @     @@@                          @@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@          @@@@@@@           @@@@        @@@     @           @@@@@                           @@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@          @@             @@@@         @@     @@@         @@@@@@         @@@@@@@@@@          @@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@                      @@@@@        @@     @@@@        @@@@@          @@@@@@@@@@@@@@@@@      @@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@           @       @@@@         @@     @@@@@       @@@@           @@@@@@@@@@@@@@@@@@@@    @@@",
  "@@@@@@@@@@@@@@@@@@@@@@            @@@      @@@@         @@     @@@@@         @@     @      @@@@@@@@@@@@@@@@@@@@@   @@@",
  "@@@@@@@@@@@@@@@@@@@               @@@      @@@@         @     @@@@@          @     @       @@@@@@@@@@@@@@@@@@@@@@  @@@",
  "@@@@@@@@@@@@@@@@@          @@     @@@      @@@               @@@@            @    @       @@@@@@@@@@@@@@@@@@@@@@   @@@",
  "@@@@@@@@@@@@@@@          @@@@      @@      @@               @@@@     @      @           @@@@@@@@@@@@@@@@@@@@@@@    @@@",
  "@@@@@@@@@@@@@         @@@@@@@      @@                      @@@      @      @@@        @@@@@@@@@@@@@@@@@@@@@     @@@@@@",
  "@@@@@@@@@@@         @@@@@@@@      @@@            @        @@@@            @@@@@@  @@@@@@@@@@@@@@@@@@@@@@@@@   @@@@@@@@",
  "@@@@@@@@@@        @@@@@@@@@@      @@@@          @@       @@@@@          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@        @@@@@@@@@@       @@@@@        @@@      @@@@@@@h   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@       @@@@@@@@@        @@@@@@@      @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@        @@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@         @@@           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@                     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@                   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@                @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@"
);

$js: (
    'var svgns = "http://www.w3.org/2000/svg"',
    'var xlinkns = "http://www.w3.org/1999/xlink"',
    'var svg = document.createElementNS(svgns, "svg")',
    'document.body.appendChild(svg)',
    'var defs = document.createElementNS(svgns, "defs")',
    'svg.appendChild(defs)',
    'var dot = document.createElementNS(svgns, "circle")',
    'dot.setAttributeNS(null, "id", "dot")',
    'dot.setAttributeNS(null, "r", 3)',
    'dot.setAttributeNS(null, "fill", "#be4d87")',
    'defs.appendChild(dot)'
  );

@mixin add_dot($x, $y) {
  $add: (
    'var use = document.createElementNS(svgns, "use")',
    'use.setAttributeNS(null, "x", #{$x})',
    'use.setAttributeNS(null, "y", #{$y})',
    'use.setAttributeNS(xlinkns, "xlink:href", "#dot")',
    'svg.appendChild(use)'
    );

  $js: join($js, $add);
}

@function list_to_string($list) {
  $return: "";
  @each $line in $js {
    $return: "#{$return} #{$line};";
  }
  @return $return;
}

$grid_distance: 7;
$l: 0;

@each $line in $ascii {
  $l: $l + 1;

  @for $i from 1 through str-length($line) {
    $char: str-slice($line, $i, $i);

    @if $char == '@' {
      @include add_dot($i * $grid_distance, $l * $grid_distance);
    }
  }
}

body::before {
  content: list_to_string($js);
  display: none;
}
