$ascii: (
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                                   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                                        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@                                             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@                      @@@@@@@@@@@@@@@           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@                   @@@@@@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@                 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@               @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@               @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@          @@@@@@@@@@@@@@@  @@@@@@@@@@@@@@@@@@@@@@            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@          @@@@@@@@@@@@@@@    @@@@@@@@@@@@@@@                @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@         @@@@@@@@@@@@@@@@                                @@@@@@@@@@@@@@@@@@@@@@  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@         @@@@@@@@@@@@@@@@@@                           @@@@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@         @@@@@@@@@@@@@@@@@@@@                     @@@@@@@@@@@@@    @@@@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@         @@@@@@@@@@@@@@@@@@       @@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@        @@@@@@        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@       @@@@@@@@@@@        @@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@          @@@@@@@@@@@@@@@@@@@@@@@@           @@@@@@@@@        @@@@@          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@           @@@@@@@@@@@@@@@@@@@@@            @@@@@@@@         @@@@           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@           @@@@@@@@@@@@@@@@@                @@@@@          @@@     @@      @@@@             @@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@           @@@@@@@@@@@@         @@@        @@@@           @     @@@                          @@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@          @@@@@@@           @@@@        @@@     @           @@@@@                           @@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@          @@             @@@@         @@     @@@         @@@@@@         @@@@@@@@@@          @@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@                      @@@@@        @@     @@@@        @@@@@          @@@@@@@@@@@@@@@@@      @@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@           @       @@@@         @@     @@@@@       @@@@           @@@@@@@@@@@@@@@@@@@@    @@@",
  "@@@@@@@@@@@@@@@@@@@@@@            @@@      @@@@         @@     @@@@@         @@     @      @@@@@@@@@@@@@@@@@@@@@   @@@",
  "@@@@@@@@@@@@@@@@@@@               @@@      @@@@         @     @@@@@          @     @       @@@@@@@@@@@@@@@@@@@@@@  @@@",
  "@@@@@@@@@@@@@@@@@          @@     @@@      @@@               @@@@            @    @       @@@@@@@@@@@@@@@@@@@@@@   @@@",
  "@@@@@@@@@@@@@@@          @@@@      @@      @@               @@@@     @      @           @@@@@@@@@@@@@@@@@@@@@@@    @@@",
  "@@@@@@@@@@@@@         @@@@@@@      @@                      @@@      @      @@@        @@@@@@@@@@@@@@@@@@@@@     @@@@@@",
  "@@@@@@@@@@@         @@@@@@@@      @@@            @        @@@@            @@@@@@  @@@@@@@@@@@@@@@@@@@@@@@@@   @@@@@@@@",
  "@@@@@@@@@@        @@@@@@@@@@      @@@@          @@       @@@@@          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@        @@@@@@@@@@       @@@@@        @@@      @@@@@@@h   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@       @@@@@@@@@        @@@@@@@      @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@        @@@@@@@         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@         @@@           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@                     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@                   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@                @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@",
  "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@"
);

$dots: ();

@mixin add_dot($x, $y) {
  $dot: #{$x}px #{$y}px #be4d87;

  $dots: append($dots, $dot, comma) !global;
}

$grid_distance: 7;
$l: 0;

@each $line in $ascii {
  $l: $l + 1 !global;

  @for $i from 1 through str-length($line) {
    $char: str-slice($line, $i, $i);

    @if $char == '@' {
      @include add_dot($i * $grid_distance, $l * $grid_distance);
    }
  }
}

#dots {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: $dots;
}
